@model IEnumerable<TechnogiASP.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

@using (Html.BeginForm("SearchForName", "User"))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal col-md-6">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <label for="searchPhrase">Search by name</label>
    <div class="form-group">
        <div class="col-md-8">
            <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                No items
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>